* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #be93c5; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #be93c5, #7bc6cc); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #be93c5, #7bc6cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 20px;
	CLICK TO COPY
}

h1 {
	font-family: 'Dosis', sans-serif;
	text-align: center;
	color: #d4d6d8;
	margin-bottom: 3%;
}
.wrapper {
	display: flex;
}
#dashboards{
	width: 70vw;
	height: 70vh;
	/* border: 1px solid #d4d6d8; */
	margin: 0;
}
.filterDiv {
	width: 30vw;
	height: 70vh;
	margin: 0;
	margin-left: 3%;
	border: 1px solid #d4d6d8;
}


.split-horizontal {
	float: left;
	height: 100%;
	width: 50%;


}

.split-vertical {
	border: 1px solid #d4d6d8;
	height: 50%;
	padding: 5px;
	width: 100%;
	border-radius: 50px;
	margin-bottom: 1%;
	margin-left: 1%;
}

.left-top {
}
